/* body {
  background-image: url("../../public/imgs/2024-2025.jpg"); 
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover; 
  background-attachment: fixed; 
} */

