/* Color Pallette
#32006E
#4B2E83
#E8E3D3
#3C6E00
#748067
*/
:root {
    --primary: #23006E;
    --light-primary: #4B2E83;
    --secondary: #E8E3D3;
    --contrast: #3C6E00;
    --light-contrast: #748067;
}

body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    /* background-color: var(--secondary); */
    /* color: var(--primary); */
}

#maincontent {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 52em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container > a {
    margin: 0 5px;
}

a:link, a:visited {
    color: var(--primary);
    text-decoration: none;

}


a:hover {
    color: var(--contrast);
    text-decoration: underline;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 3px 10px;
}

#logo {
    width: 3rem;
}

#slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    scroll-snap-align: start;
    
}

.slide {
    scroll-snap-align: start;
}

.slide img {
    width: 60em;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

span.email b {
	display: none;
}

.FAQ > p:nth-child(odd) {
    color: var(--light-primary);
    font-weight: bold;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}