/* Color Pallette
#32006E
#4B2E83
#E8E3D3
#3C6E00
#748067
*/
:root {
    --primary: #23006E;
    --light-primary: #4B2E83;
    --secondary: #E8E3D3;
    --contrast: #3C6E00;
    --light-contrast: #748067;
}

/* for mobile devices */
@media only screen and (max-width: 600px) {
    #togglenav:checked ~ header {
        transform: translateY(0%);
        transition: transform 0.4s;
        position: relative;
        padding: 5px 10px !important;
    }

    #logo {
        visibility: hidden;
        display: none;
    }

    header {
        flex-direction: column;
        align-items: start;
        transform: translateY(-100%);
        position: fixed;
        width: 100%;
        padding: 0 !important;
        /* margin: 0; */
    }

    a.navitem {
        display: none;
        align-self:flex-start;
        visibility: hidden;
    }

    #togglenav:checked ~ header > a.navitem {
        visibility: visible !important;
        display: block !important;
    }

    #togglenav {
        visibility: visible;
        display: block;
    }

}

@media only screen and (min-width: 600px) {
    #togglenav {
        visibility: hidden;
        display: none;    }
}


body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    /* background-color: var(--secondary); */
    /* color: var(--primary); */
}

#maincontent {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 52em;
}

#skip {
    z-index: 499;
    background-color: var(--secondary);
    height: 30px;
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

#skip:focus {
    transform: translateY(0%);

}

#togglenav {
    position: sticky;
    /* top: 0; */
    right: 0;
    z-index: 2;
    height: 10;
    padding: .5rem;
    color: var(--primary);
    text-decoration: none;

}

#togglenav::after {
    content: url(imgs/logo_extra_small.png);
    font-size: large;
}

#togglenav:hover {
    color: var(--contrast);
    text-decoration: underline;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
  }
  
  

.container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
}

.container > a {
    margin: 0 5px;
    font-size: larger;
}

a:link, a:visited {
    color: var(--primary);
    text-decoration: none;
}


a:hover {
    color: var(--contrast);
    text-decoration: underline;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 3px 10px;
}

#logo {
    width: 3rem;
    padding: .5rem;
}

#slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    scroll-snap-align: start;
    
}

.slide {
    scroll-snap-align: start;
}

.slide img {
    width: 60em;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

span.email b {
	display: none;
}

.FAQ > p:nth-child(odd) {
    color: var(--light-primary);
    font-weight: bold;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}